@font-face {
    font-family: "Sansdiesgo";
    src: url("../fonts/Sansdiesgo.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: gray;
}

.app-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: default;
}

.custom-confirm-dialog {
    font-family: "Sansdiesgo", sans-serif;
    font-size: 16px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 2px gray);
}

.confirmation-button {
    font-family: "Sansdiesgo", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 10px;
    background-color: transparent;
    border: none;
}

.confirmation-button:hover {
    color: blue;
    cursor: pointer;
}


.pointer {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    pointer-events: none;
    z-index: 9999;
    visibility: hidden;
}

.pointer-icon {
    width: 50px;
    height: 35px;
    opacity: 0.5;
}

.pointer-and {
    position: absolute;
    top: -15px;
    left: -20px;
    visibility: hidden;
}

.pointer-or {
    position: absolute;
    top: -15px;
    left: -20px;    
    visibility: hidden;
}

.pointer-not {
    position: absolute;
    top: -15px;
    left: -20px;    
    visibility: hidden;
}

.pointer-nand {
    position: absolute;
    top: -15px;
    left: -20px;    
    visibility: hidden;
}

.pointer-nor {
    position: absolute;
    top: -15px;
    left: -20px;    
    visibility: hidden;
}

.pointer-xor {
    position: absolute;
    top: -15px;
    left: -20px;    
    visibility: hidden;
}

.pointer-xnor {
    position: absolute;
    top: -15px;
    left: -20px;    
    visibility: hidden;
}

.pointer-input {
    position: absolute;
    top: -15px;
    left: -20px;    
    visibility: hidden;
}

.pointer-output {
    position: absolute;
    top: -15px;
    left: -20px;    
    visibility: hidden;
}